<!DOCTYPE HTML>
<html>
	<head>
		<title>Software Festival</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="stylesheets/main.css" type="text/css"/>
		
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="content">
							<div class="inner">
								<h1>솔직히, 수업 안듣고 구글링 하잖아요?</h1>
								<p>"Crawling searcing history of Google, doing Natural language processing,<br>
									extracting keywords, and providing software about news, that is based on our keywords."</p>
							</div>
						</div>
						<nav>
							<ul>
								<li><a href="#intro">Intro</a></li>
							</ul>
						</nav>

						<form method="GET" id="input_keyword" action="search">
							<input type="text" id="search_text" name="keyword" placeholder="Input Keyword" required>
							<input type="submit" id="search_button">
						</form>
					</header>

				<!-- Main -->
					<div id="main">
						<!-- Intro -->
							<article id="intro">
								<h2 class="major">Introduction</h2>
								
							</article>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script type="text/javascript" src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
			<script src="javascripts/main_jquery.min.js"></script>
			<script src="javascripts/util.js"></script>
			<script src="javascripts/main.js"></script>
	</body>
</html>
