<!DOCTYPE HTML>

<html>
	<head>
		<title>Software Festival</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="stylesheets/search.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
		<section id="header">
			<div class="inner">
				<span class="icon solid major fa-cloud"></span>
				<h1>Keyword <strong>Search</strong> Result</h1>
				<form id="search" method="GET">
					<input type="text" id="search_text" name="keyword" placeholder="Input Keyword" required>
					<input type="submit">
					<a href="/" class="button">Home</a>
				</form>
			</div>
		</section>

		<!-- Main -->
		<section id="main">
			
			<!-- EJS -->
			<%	for(var res in data){ %>
					<div class="count">
						<header>
							<h2><% res['count']%> </h2> 
						</header>
						<% for(var ele in res['list']) { %>
							<div class="result">
								<header class="major">
									<h2><% ele['title'] %></h2>
									<!-- <a href= ele['url'] > </a> -->
								</header>
								<p><% ele['url'] %></p>
								<p><% ele['user_count'] 명이 ele['visit_count'] 번 방문하였습니다.%></p>
							</div>
						<% } %>
					</div>
			<%	} %>

		</section>

		<!-- Footer -->
		<section id="footer">
			<ul class="copyright">
				<li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
			</ul>
		</section>


		<!-- Scripts -->
		<script type="text/javascript" src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="javascripts/search_jquery.min.js"></script>
		<script src="javascripts/util.js"></script>
		<script src="javascripts/search.js"></script>
	</body>
</html>